body{
    background: url('../images/login2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    min-height: 1000%;
    opacity: 0.8;

}
.logo{
    height: 50px;
    padding-right: 15px;
    padding-left: 5px;
}
